<div class="hero min-h-screen" style="
    background-image: url(https://images.unsplash.com/photo-1651421479704-470a78eef530?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  ">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md text-purple-200 drop-shadow-md">
      <h1 class="mb-10 text-5xl font-bold">Aplicación de países</h1>
      <p class="mb-5">
        Descubre información sobre todos los países del mundo: capitales, banderas,
        población, idioma y mucho más en un solo lugar.
      </p>
      <button routerLink="/country" class="btn btn-soft btn-accent">Empezar</button>
    </div>
  </div>
